:root {
  --color-bg: #268d81;
  --color-bg-light: #beddd9;
  --color-bg-dark: #227f74;
  --color-fg: #f4a261;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-grey-dark: #d6d6d6;
  --color-grey: #ebebeb;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Rubik', sans-serif;
  color: var(--color-black);
}

@media screen and (min-width: 40em){
  body {
    font-size: 1.25rem;
  }
}

header {
  padding: 1.5rem;
  background-color: var(--color-bg);
}

header h1 {
  margin: 0;
  font-family: 'Domine', serif;
  color: var(--color-white);
  font-size: 1.75rem;
}

header p {
  font-size: .875rem;
  color: var(--color-bg-light);
}

header a {
  display: block;
  color: var(--color-bg-light);
}

@media screen and (min-width: 40em){
  header h1 {
    font-size: 2rem;
  }
  header p {
    font-size: 1rem;
  }
}

main {
  padding: 1.5rem;
}

main h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 40em){
  main h2 {
    font-size: 1.25rem;
  }
}

main ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  columns: 2;
  column-gap: 1.5rem;
}

@media screen and (min-width: 40em){
  main ul {
    columns: 1;
    column-gap: 0;
  }
}

main ul li {
  border-top: 1px solid var(--color-grey);
  padding: .25rem 0 .25rem 1.5rem;
  position: relative;
  text-indent: -.5rem;
  margin-left: .5rem;
  break-inside: avoid;
}

#veg-clean li::before {
  content: "😀";
  position: absolute;
  left: 0;
}

#veg-dirty li::before {
  content: "🤢";
  position: absolute;
  left: 0;
}

main ul span {
  margin-left: .5rem;
}

footer {
  padding: 1.5rem 1rem;
  background-color: var(--color-bg-light);
}

nav {
  padding: .5rem;
  border: 1px solid var(--color-bg-dark);
  border-radius: 1.5rem;
  display: flex;
}

nav a {
  color: var(--color-white);
  display: inline-block;
  padding: .5rem 1rem;
  text-align: center;
  border-radius: 1rem;
  text-decoration: none;
  font-size: .875rem;
  flex: 1 0 auto;
  color: var(--color-black);
}

nav a.selected {
  background-color: var(--color-fg);
  font-weight: 600;
}